<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Kahhot Fake</title>
    {{!-- CSS files --}}
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">

</head>

<body>
    {{!-- 
            <i class="fas fa-fire-extinguisher fa-4x"></i>
            <i class="fab fa-cloudversify fa-5x"></i>
            <i class="fab fa-phoenix-framework fa-4x"></i>
     --}}
    
    {{{body}}}

    {{!-- JS files --}}
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
</body>

</html>