{{#section 'css'}}
<style>

</style>
{{/section}}

<div class="d-flex flex-column justify-content-center align-items-center my-5">
    <img src="https://media.giphy.com/media/1kFyLE7c6RVcY/giphy.gif" alt="">
    <h2>Something went wrong!!</h2>
    <hr>
    <br>
    <a href="/" class="btn btn-outline-primary">Go To Homepage</a>
</div>