

<div class="m-5" style="height: 100%">
    <div class="row" style="height: 100%">
        <div class="col-12 col-sm-6 d-flex justify-content-center mb-3">
            <a href="/player" class="btn btn-outline-success d-flex align-items-center justify-content-center" style="width: 100%; font-size: 80px"><strong>PLAYER</strong></a>
        </div>
        <div class="col-12 col-sm-6 d-flex justify-content-center mb-3">
            <a href="/signin" class="btn btn-outline-danger d-flex align-items-center justify-content-center" style="width: 100%; font-size: 80px"><strong>HOST</strong></a>
        </div>
    </div>
</div>