{{#section 'css'}}
<style>
    #time_question {
        width: 200px;
        height: 200px;
        border: 5px solid #000;
        border-radius: 50%
    }
</style>
{{/section}}

<div class="container p-5">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <div class="d-flex justify-content-center align-items-center rounded-circle mb-5" id="time_question">
            <h1>5</h1>
        </div>
        <div class="d-flex justify-content-center">
            <p style="font-size: 30px; text-align:center;" id="question_content"><strong>The align-items property
                    specifies the default alignment for items inside the flexible container.</strong></p>
        </div>
    </div>
</div>