<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="question-set-heading">Question sets</h1>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <img src="/img/test.jpg" width="80px" height="80px" class="img-rounded">
                    <h4>Học lập trình online đang là xu hướng, hiện nay có rất nhiều khóa học online chất lượng với chi phí rất rẻ giúp bạn tiết kiệm tiền và có thể học mọi lúc mọi nơi.</h4>
                        <span class="badge">
                            <label id ="status-question-set">Active</label>
                            <button class="btn btn-success"> <i class="fas fa-external-link-alt"></i> New Game </button>
                            <button class="btn btn-info"><i class="fas fa-edit"></i> Edit</button>
                       </span>
                </li>
            </ul>
        </div>
    </div>
    <button class="btn btn-primary btn-lg" class="fas fa-plus-circle" id ="btn-question-set" style="margin-top: 20px"><i class="fas fa-plus-circle"></i> Add</button>
    
</div>