{{!-- <div class="container">
  <div class="row">
    <form action="signup" method="POST" id="signUpForm" class="col align-self-center">
      <div class="form-group">
        <label for="username">User name</label>
        <input type="text" class="form-control" name="username" id="username" placeholder="Enter Username">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" id="password" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" class="form-control" name="confirmPassword" id="confirmPassword"
          placeholder="Confirm Password">
      </div>
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" name="email" id="email" placeholder="Enter email">
      </div>
      <div class="form-group text-center">
        <button type="submit" class="btn btn-primary ">Submit</button>
      </div>
    </form>
  </div>

</div> --}}

<div class="mt-5">
<form class="container border border-dark p-5 w-25" action="signup" method="POST" id="signUpForm">

  <p class="h4 mb-4 text-center">Sign Up</p>

  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" class="form-control mb-2" placeholder="Username">
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" class="form-control mb-2" placeholder="Password">
  </div>

  <div class="form-group">
    <label for="confirmPassword">Confirm Password</label>
    <input type="password" id="confirmPassword" name="confirmPassword" class="form-control mb-2" placeholder="Confirm Password">
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" class="form-control mb-2" placeholder="email">
  </div>

  <button class="btn btn-info btn-block mt-2" type="submit">Sign Up</button>

  </div>
</form>
</div>