<div class="mt-5">
<form class="container border border-dark p-5 w-25" action="signup" method="POST" id="signUpForm">

  <p class="h4 mb-4 text-center">Sign Up</p>

  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" class="form-control mb-2" placeholder="Username">
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" class="form-control mb-2" placeholder="Password">
  </div>

  <div class="form-group">
    <label for="confirmPassword">Confirm Password</label>
    <input type="password" id="confirmPassword" name="confirmPassword" class="form-control mb-2" placeholder="Confirm Password">
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" class="form-control mb-2" placeholder="email">
  </div>

  <button class="btn btn-info btn-block mt-2" type="submit">Sign Up</button>

  </div>
</form>
</div>