{{#section 'js'}}
<script>
    let socket = io({ transports: ['websocket'], upgrade: false });

    let info =
    {
        nickname: '{{info.nickname}}',
        pin: '{{info.pin}}'
    };

    socket.on('roomNotExists', () => {
        window.location.href = '/player';
    });


    socket.on('newMessage', (pin) => {
        console.log(`Welcome to ${pin}`);
    })

    socket.on('updatePlayerList', (players) => {
        $("#players-number").html(players.length);
        $('#playerList').html('');
        for (let i = 0; i < players.length; i++) {
            console.log(players[i].name);
            $('#playerList').append($("<div class='col-md-4 py-2'><p>" + players[i].name + "</p></div>"));
        }
    });

    socket.on('disconnect', function () {
        console.log('disconnected from server.');
    });

</script>

<script>
    window.onload = function(){
        try{
            var url_string = (window.location.href).toLowerCase();
            var url = new URL(url_string);
            var pin = url.searchParams.get("pin");
            document.getElementById("pin").innerHTML = pin;
            console.log(pin);
        }catch(err){
            console(err);
        }
    }
</script>

{{/section}}


<div class="container">
    <div class="row d-flex justify-content-center mt-5 mx-4">
        <div class="border border-dark col-md-3"
            style="font-size: 30px;margin-bottom: 100px; border: 5px solid; text-align:center;">
            {{!--<p id=><strong> PIN: {{ info.pin }}</strong> </p>--}}
            <p><strong> PIN:  <span id="pin"></span> </strong></p>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-6">
            <span class="red display-4">
                <h1 id="players-number">0</h1>Players
            </span>
        </div>
        <div class="col-md-6  text-white">
            {{#if user}}
            <a class=" col-md-4 btn btn-success border border-dark" style="font-size: 20px;float:right">Start</a>
            {{/if}}
        </div>
    </div>
    <div class="row border border-dark" id="playerList">
    </div>
</div>