{{#section 'js'}}
<script>
    let socket = io();
    let info = 
    { 
        nickname: '{{info.nickname}}',
        pin: '{{info.pin}}'
    };

    socket.on('connect', () => {
        console.log(info);
        socket.emit('join', info)
    });


    socket.on('newMessage' , (pin) => {
        console.log(`Welcome to ${pin}`);
    })

</script>

{{/section}}


<div class="container">
    <div class="row d-flex justify-content-center mt-5 mx-4">
        <div class="border border-dark col-md-3"
            style="font-size: 30px;margin-bottom: 100px; border: 5px solid; text-align:center;">
            <p><strong> PIN: {{ info.pin }}</strong> </p>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-6">
            <p> <span class="red display-4"> 0 Players</span></p>
        </div>
        <div class="col-md-6  text-white">
            {{#if user}}
            <a class=" col-md-4 btn btn-success border border-dark" style="font-size: 20px;float:right">Start</a>
            {{/if}}
        </div>
    </div>
    <div class="row border border-dark">
        <div class="col-md-4" style="">
            <div class="col-md-8 py-2">
                <p>{{ info.nickname }}</p>
            </div>
        </div>
    </div>

</div>