
h4{
    white-space: nowrap;
    height: 40%;
    width: 50%;
    text-overflow: ellipsis;
    overflow: hidden;
}
.question-set-heading{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 30px;
}
#btn-question-set{
    margin-top: 20px;
    padding: 5px;
    margin-left: 30px;
}
