<div class="row ml-4 mt-4">
    <p class="h5"><a href="/host">Home</a>> <a href="/edit-profile">Edit profile</a>> Change password</p>
</div>
<div class="mt-5">
<form class="container p-5 w-25" action="/change-password" method="POST" id="changePassForm">

  <p class="h2 mb-4 text-center">Change password</p>

  <div class="form-group text-center">
  {{#if error}}
    <label style="color:red">{{error}}</label>
  {{/if}}
  {{#if status}}
    <label style="color:green">{{status}}</label>
  {{/if}}
  </div>


  <div class="form-group">
    <label for="current">Current password</label>
    <input type="password" id="current" name="current" class="form-control mb-2" placeholder="Current password">
  </div>

  <div class="form-group">
    <label for="new">New password</label>
    <input type="password" id="new" name="new" class="form-control mb-2" placeholder="New password">
  </div>

  <div class="form-group">
    <label for="confirm">Confirm password</label>
    <input type="password" id="confirm" name="confirm" class="form-control mb-2" placeholder="Confirm password">
  </div>

  <button class="btn btn-info" style="margin-left:35%" type="submit">Save change</button>

  </div>
</form>
</div>