<div class="container p-5">
    <form method="POST" action="/host/create-question" enctype="multipart/form-data" id="create_question" >
        <input type="text" name="questionSetId" value="1" hidden>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <h1 class="question-set-heading text-center">Question</h1>
        <div class="form-group text-center">
        {{#if error}}
            <div class="alert alert-danger" role="alert">
              {{error}}
            </div>
        {{/if}}
        </div>
        <div class="row" >
            <div class="form-group col-md-8">
                <label>Content</label>
                <textarea class="form-control" rows="5" placeholder="Content of quetion" name="content">content</textarea>
            </div>
            <div class="form-group col-md-4">
                <img src="" style="display:none" height="200px" id="image"> 
                <label>Choose image</label>
                <input type="file" onchange="showImage.call(this)" name="image" value="">
                <script>
                    function showImage(){
                        if(this.files && this.files[0]){
                            var obj = new FileReader();
                            obj.onload = function(data){
                                var image = document.getElementById("image");
                                image.src = data.target.result;
                                image.style.display = "block";
                            }
                            obj.readAsDataURL(this.files[0]);
                        }
                    }
                </script>
            </div>
        </div>
        <div class="row mt-5">
            <div class="form-inline col-md-5 mb-3">
                <label for="answer1" class="col-md-1"><strong>A.</strong></label>
                <input type="text" class="form-control col-md-11" placeholder="Answer content" id="answer1" name="answer1" value="">
            </div>
            <div class="form-inline col-md-5 mb-3">
                <label for="answer2" class="col-md-1"><strong>B.</strong></label>
                <input type="text" class="form-control col-md-11" placeholder="Answer content" id="answer2" name="answer2" value="">
            </div>
            <div class="form-inline col-md-5 mb-3">
                <label for="answer3" class="col-md-1"><strong>C.</strong>.</label>
                <input type="text" class="form-control col-md-11" placeholder="Answer content" id="answer3" name="answer3" value="">
            </div>
            <div class="form-inline col-md-5 mb-3">
                <label for="answer4" class="col-md-1"><strong>D.</strong></label>
                <input type="text" class="form-control col-md-11" placeholder="Answer content" id="answer4" name="answer4" value="">
            </div>
        </div>  

        <select class="btn btn-light" name="correctanswer">
            <option value>Select correct answer...</option>
            <option value="1">A.</option>
            <option value="2">B.</option>
            <option value="3">C.</option>
            <option value="4">D.</option>
        </select>

        <div class="row col-md-8 pl-5 pr-5 mt-5">
            <button type="Save" class="btn btn-primary col-md-3 ml-5 mr-5" id="btn-question-set">Submit</button>
            <button type="Cancel" class="btn btn-secondary col-md-3 ml-5" id="btn-question-set">Cancel</button>
        </div>
        
   </form>
</div>