<div class="row ml-4 mt-4">
    <p class="h5"><a href="/host">Home</a>> Edit profile</p>
</div>
<div class="mt-5">
<form class="container p-5 w-25" action="/edit-profile" method="POST" id="editProfileForm">

  <p class="h2 mb-4 text-center">Edit profile</p>
  <div class="form-group text-center">
  {{#if error}}
    <label style="color:red">{{error}}</label>
  {{/if}}
  {{#if status}}
    <label style="color:green">{{status}}</label>
  {{/if}}
  </div>

  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" class="form-control mb-2" placeholder="Username" readonly value={{user.user_username}}>
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" class="form-control mb-2" placeholder="Email" value={{user.user_email}}>
  </div>
  
  <div class="row form-group text-center">
    <a class="col-md-12 text-center" href="/change-password">Change your password</a>        
  </div>

  <button class="btn btn-info" style="margin-left:35%" type="submit">Save change</button>

  </div>
</form>
</div>