{{#section 'css'}}
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/css/fileinput.min.css" media="all"
  rel="stylesheet" type="text/css" />
<style>
  label.error {
    color: red;
    font-size: 15px;
    font-style: oblique;
  }
</style>
{{/section}}
{{#section 'js'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/js/fileinput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/themes/fa/theme.min.js"></script>
<script>
  $(function () {
    $('#questionset_img').fileinput({
      theme: 'fa',
      //dropZoneEnabled: false,
      allowedFileExtensions: ['png', 'jpg', 'gif'],
      uploadAsync: false,
    });
  });
  setTimeout(function() {
        $("#alert").remove();
    }, 3000);
  $("body").addClass('homepage-bg');
</script>
{{/section}}
<div class="container">
  <form class="m-3" action="/host/questionset/add" method="POST" enctype="multipart/form-data" id="questionset">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    <h1 class="question-set-heading text-white"> New question set</h1>
    <div class="form-group text-center" id="alert">
      {{#if error}}
      <div class="alert alert-danger" role="alert">
        {{error}}
      </div>
      {{/if}}
    </div>
    <div class="row p-3 border rounded border-dark bg-light">
      <div class="form-group col-md-8">
        <div>
          <label><strong>Title</strong></label>
          <input type="title" class="form-control" placeholder="Title of question set" name="title">
        </div>
        <div>
          <label style="margin-top: 10px;"><strong>Description</strong></label>
          <textarea class="form-control" rows="9" placeholder="Description of quetion set"
            name="description"></textarea>
        </div>
      </div>
      <div class="col-md-4">
        <label><strong>Choose image</strong></label>
        <input type="file" id="questionset_img" name="question_img" value="" data-show-upload="false">
      </div>
      <div class="form-check row">
        <lable class="radio-inline" style="font-size: 20px; "><input type="radio" name="status" value="1" checked>
          Active</lable>
        <lable class="radio-inline" style="margin-left: 40px; font-size: 20px;"><input type="radio" name="status"
            value="0"> Inactive</lable>
      </div>
    </div>
    <button type="submit" class="btn btn-primary px-5 mb-5" id="btn-question-set">Submit</button>
    <a type="cancel" class="btn btn-secondary px-5 mb-5" id="btn-question-set" href="/host/questionset">Cancel</a>
  </form>
</div>