<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="question-set-heading">Question sets</h1>
            <a class="btn btn-primary btn-lg fas fa-plus" id ="btn-question-set" style="margin-top: 20px" href="/questionset/add"> Add</a>
            {{#each this.questionset}}
            <ul class="list-group my-4 border border-dark">
                <li class="list-group-item d-flex justify-content-between align-items-center mi-2">
                    {{#if questionset_image}}
                    <img src="/img/{{questionset_image}}" width="80git px" height="80px" class="img-rounded">
                    {{else}}
                    <img src="/img/test.jpg" width="80git px" height="80px" class="img-rounded">
                    {{/if}}
                    <h4 id="questionset_title">{{questionset_title}}</h4>
                        <span class="badge">
                            {{#if questionset_state }}
                            <button class="btn btn-success"> <i class="fas fa-external-link-alt"></i> New Game </button>
                            {{else}}
                            <button class="btn btn-secondary disabled"> <i class="fas fa-external-link-alt"></i> New Game </button>
                            {{/if}}
                            <button class="btn btn-info mx-4"><i class="fas fa-edit"></i> Edit</button>
                       </span>
                </li>
            </ul>
            {{/each}}
        </div>
    </div>
</div>