{{#section 'css'}}
<style type="text/css">
    label.error {
        color: rgb(255, 186, 38);
        font-size: 24px;
    }
</style>
{{/section}}

{{#section 'js'}}
<script>
    $('body').css("height", "100vh");
</script>

{{!-- jquery validate --}}
<script>
    $(document).ready(function () {
        $("#player-info").validate({
            rules: {
                pin: {
                    required: true,
                    minlength: 4,
                    maxlength: 4,
                    digits: true
                },
                nickname: {
                    required: true,
                    minlength: 3,
                },
            },
            messages: {
                pin: {
                    required: "Please enter PIN",
                    minlength: "PIN is not correct",
                    maxlength: "PIN is not correct",
                    digits: "PIN must be number"
                },
                nickname: {
                    required: "Please enter nickname",
                    minlength: "Nickname must be at least 3 characters",
                },
            }
        });
    });
</script>

<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
</script>
{{/section}}

<div class="homepage-bg p-5" style="height: 100%">
    <form class="container px-5" action="/player/waiting-room" method="POST" id="player-info">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <div class="form-group px-5 my-5">
            <input class="form-control" name="pin" type="text" placeholder="PIN">
        </div>
        <div class="form-group px-5 my-5">
            <input class="form-control" name="nickname" type="text" placeholder="Nick name">
        </div>
        <div class="form-group px-5 my-5">
            <button class="btn btn-secondary" type="submit">JOIN</button>
        </div>
    </form>
</div>