{{#section 'js'}}
<script src="/js/question-content.js"></script>
{{/section}}

<div class="container">
    <div class="row d-flex flex-column justify-content-center align-items-center text-center">
        <h3 class="rounded-circle" id="time_question">5</h3>
        <h2><strong id="question-content"></strong></h2>
    </div>
</div>