{{#section 'css'}}
<style>


    @media only screen and (max-width: 800px) {
        .countdown-stat {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            border: 4px solid #000;
        }
    }
</style>
{{/section}}
{{#section 'js'}}
<script src="/js/small-statistic.js"></script>
{{/section}}
<div class="container py-5 ">
    <div class="row border border-dark rounded bg-white">
        <div class="col-md-6 text-center p-0 px-2 py-2 bg-success" id="answer_result">
            <div class="countdown-stat d-flex justify-content-center align-items-center">
                <h3 class="text-danger m-0" id="countdown">3</h3>
            </div>
            <div class="text-white" style="font-weight: bold;" id="result-answer">
                <h1 id="answer_status"></h1>
                <h2 id="answer_point"></h2>
                <h2 id="answer_correct"></h2>
            </div>
        </div>
        <div class="col-md-6 p-0 bg-dark text-white">
            <h1 class="text-center p-2 shadow ">Player Score</h1>
            <ul class="py-3 bg-white text-dark rounded" style="" id="list-score">
            </ul>
        </div>
    </div>
</div>