{{#section 'css'}}
<link rel="stylesheet" href="/css/waiting-circle.css">
{{/section}}
{{#section 'js'}}
<script>
    let socket = io();
    let info = {
        nickname: '{{info.nickname}}',
        pin: '{{info.pin}}'
    };
</script>
<script src="/js/player-waiting.js"></script>
{{/section}}
<div class="d-flex flex-column justify-content-center align-items-center my-5">
    <div class="lds-spinner">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <br>
    <h1 id="checking-room" class="loading-text"></h1>
</div>