<div class="mt-5 row">
    <div class="container col-lg-6 col-lg-offset-3 ">
        <div class="card mb-3 border-dark">
            <div class="row">
                <div class="col-3" style="height: 200px; overflow: hidden; position: relative;">
                    <img src="/img/test.jpg" class="card-img" alt="error" style="">
                </div>
                <div class="col-6">
                    <div class="card-body">
                        <h5 class="card-title">Question Name</h5>
                        <p class="card-text">Description...</p>
                    </div>

                </div>
                <div class="col-3 pr-3">
                    <h6 class="text-center text-success my-3 mr-3">Active</h6>
                    <bt class="btn btn-outline-success d-block mb-3 mr-3">
                       <h6>Create</h4> 
                    </bt>
                    <a class="btn btn-outline-primary d-block mb-3 mr-3">
                       <h6>Edit</h6> 
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>